<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="span2">Created by:</div>
                <div class="span9"><a href="http://in.linkedin.com/pub/shanmuga-sundaram-sivagnanam/18/96b/2b3/" target="_blank">Shanmuga</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">EATurner Developer Challage:</div>
                <div class="span9"><a href="https://bitbucket.org/EATurner/developer-challenge" target="_blank">Developer Challenge</a></div>
            </div>
        </div>
    </div>
</div>


