@model EATurner.Web.Models.HomePageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html data-ng-app="EATurnerApp">
<head>
    <title>EA Turner Developer Challange</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/bootstrap")" rel="stylesheet" />

</head>
<body data-ng-cloak="">
    <header class="navbar navbar-inner navbar-fixed-top" data-ng-controller="NavbarController">
        <nav class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <span class="appTitle">{{ appTitle }}</span>
                </a>
            </div>
            <div class="nav-container" data-collapse="isCollapsed">
                <ul class="nav navbar-nav nav-pills navBarPadding"
                    data-menu-highlighter data-highlight-class-name="active">
                    <li><a href="#/titles">Titles</a></li>
                    <li><a href="#/about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="slide-animation-container">
        <div data-ng-view id="ng-view" class="slide-animation"></div>
    </div>
    <div id="footer">
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner footer">
                <div class="container">
                    <footer>
                        <div class="row">
                            <div class="col-md-12">
                                Created by <a href="http://in.linkedin.com/pub/shanmuga-sundaram-sivagnanam/18/96b/2b3/" target="_blank">Shanmuga</a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div data-wc-overlay data-wc-overlay-delay="300">
        <br /><img src="Content/images/spinner.gif" />&nbsp;&nbsp;Loading
    </div>
    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
    <script src="Scripts/angular-ui-bootstrap.js"></script>

    @if (!Model.IsDebugMode)
    {
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/angularjs")"></script>
    }
    else
    {
        <script src="app/wc.directives/directives/wcOverlay.js"></script>
        <script src="app/wc.directives/directives/menuHighlighter.js"></script>
        <script src="app/EATurnerApp/app.js"></script>
        <script src="app/EATurnerApp/animations/listAnimations.js"></script>
        <script src="app/EATurnerApp/directives/wcUnique.js"></script>
        <script src="app/EATurnerApp/services/config.js"></script>
        <script src="app/EATurnerApp/services/dataService.js"></script>
        <script src="app/EATurnerApp/services/authService.js"></script>
        <script src="app/EATurnerApp/services/httpInterceptors.js"></script>
        <script src="app/EATurnerApp/services/titleService.js"></script>
        <script src="app/EATurnerApp/controllers/aboutController.js"></script>
        <script src="app/EATurnerApp/controllers/navbarController.js"></script>
        <script src="app/EATurnerApp/controllers/loginController.js"></script>
        <script src="app/EATurnerApp/controllers/TitlesController.js"></script>
        <script src="app/EATurnerApp/controllers/viewTitlesController.js"></script>
    }
</body>
</html>
