<div class="view">
    <div class="container">
        <form name="titleSearchForm">
            <header>
                <h3>EA Turner Developer Challange</h3>
            </header>
            <br />
            <div class="titleSearchForm">
                <div class="row">
                    <div class="col-md-1">
                        Title:
                    </div>
                    <div class="col-md-4">                        
                        <input type="text" data-ng-model="txtSearch" autocomplete="off" ng-options="tname for tname in titleNames" placeholder="Enter Title" class="form-control" required bs-typeahead />
                        <span class="errorMessage" ng-show="titleSearchForm.txtSearch.$touched && titleSearchForm.txtSearch.$invalid">
                            Title is required
                        </span>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" data-ng-click="searchTitles()" ng-disabled="titleSearchForm.$invalid || !titleSearchForm.$dirty">Search</button>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-striped table-condensed table-bordered ordersTable">
                <thead>
                    <tr>
                        <th data-ng-click="setOrder('TitleName')">Title Name</th>
                        <th data-ng-click="setOrder('ReleaseYear')">Release Year</th>
                        <th>Genre</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-hide="titles.length > 0" class="error">
                        <td colspan="4">
                            <div class="text-center"><strong>No titles found</strong></div>
                        </td>
                    </tr>
                    <tr data-ng-repeat="title in titles | orderBy: orderBy" class="repeat-animation">
                        <td>
                            {{ title.TitleName }}
                        </td>
                        <td>
                            {{ title.ReleaseYear }}
                        </td>
                        <td>
                            <span data-ng-repeat="titleGenre in title.TitleGenres">{{titleGenre.Genre.Name}}<span ng-show=" ! $last ">, </span></span>
                        </td>
                        <td>
                            <a href="#/viewTitle/{{title.TitleId}}">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>

